<mat-sidenav-container>
  <mat-sidenav mode="side" opened >
    
  <mat-nav-list >
    <img src="../../assets/image/menu.png" class="image1">
    <img src="../../assets/image/details.png" class="image2">
    <br>
    <b style="color: gray; font-size: x-small;margin-left: 15px;">My Details</b>
    <br>
    <img src="../../assets/image/order fulfilment.png" class="image2">
    <b style="color: gray; font-size: x-small;margin-left: 5px;">Order Fulfilment</b>
  
    <!-- <img src="../../assets/image/lookup.png" class="image2 "> -->
    <img src="../../assets/image/lookup1.png" class="image2">
    <b style="color: gray; font-size: x-small;    margin-left: 18px;" >Po Lookup</b>
    <img src="../../assets/image/ASN.png" class="image2">
    <b style="color: gray; font-size: x-small;    margin-left: 30px;">ASN</b>
  
    <img src="../../assets/image/bill.png" class="image2">
    <b style="color: gray; font-size: x-small;margin-left: 20px;">Invoices</b>
    <img src="../../assets/image/payment-method.png" class="image2">
    <b style="color: gray; font-size: x-small;margin-left: 18px;">Payments</b>
    <img src="../../assets/image/Stock.png" class="image2">
    <b style="color: gray; font-size: x-small;    margin-left: 25px;">Stocks</b>
    <!-- <b class="Rectangle-36"></b> -->
    <img src="../../assets/image/shipping-and-delivery (4).png" class="image2">
    <b style="color: gray; font-size: x-small;margin-left: 20px;">Quality</b>
    <img src="../../assets/image/Layer 19.png" class="image2">
    <b style="color: white; font-size: x-small;margin-left: 10px;">Performance</b>
    
    
  </mat-nav-list>
  
  </mat-sidenav>
  <mat-toolbar >Vendor Rating
    <img  src="../../assets/image/header 2.png" class="image5">
  </mat-toolbar>
  <!-- <div fxLayout="row">
    <div fxLayout="column"></div>
  </div> -->
  </mat-sidenav-container>